<component name="libraryTable">
  <library name="mybatis与spring整合全部jar包(包括springmvc)">
    <CLASSES>
      <root url="file://$PROJECT_DIR$/web/WEB-INF/lib/mybatis与spring整合全部jar包(包括springmvc)" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
    <jarDirectory url="file://$PROJECT_DIR$/web/WEB-INF/lib/mybatis与spring整合全部jar包(包括springmvc)" recursive="false" />
  </library>
</component>